.todo-app-wrapper{
  width: 983px;
  margin: 50px auto;
  border-radius: 6px;
  background-color: white;
  display: flex;
}

.todo-app-wrapper .sidebar{
  width: 209px;
  border-right: 1px solid #D8D8D8;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 50px;
}

.todo-app-wrapper .main{
  width: 774px;
  padding: 40px;
}

.list{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list li{
  cursor: pointer;
}

.main h2{
  margin-bottom: 20px;
}